.autofit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.changelog-bar {
    background: currentColor;
}

.changelog-bar.duplicate {
    height: calc(100% + 1.5rem);
    background-size: 100% 0.65rem;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, transparent 30%, currentColor 30%, currentColor);
}
