.project-page-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "sidebar";
}

@media (min-width: 64rem) {
    .project-page-layout {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 19rem 1fr;
        grid-template-areas:
            "header header"
            "sidebar content"
            "dummy content";
    }
}

.autofit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.changelog-bar {
    background: currentColor;
}

.changelog-bar.duplicate {
    height: calc(100% + 1.5rem);
    background-size: 100% .65rem;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, transparent 30%, currentColor 30%, currentColor);;
}