@import "./../../../../packages/components/src/index.css";
@import "./font.css";


:root {
    --scrollbar-radius: 0;
}

html,
html body {
    scrollbar-gutter: unset;
    -webkit-app-region: no-drag;
    --wails-draggable: no-drag;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 10px;
    -webkit-app-region: no-drag;
    --wails-draggable: no-drag;
}

body ::-webkit-scrollbar,
body ::-webkit-scrollbar-thumb {
    width: 5px;
    -webkit-app-region: no-drag;
    --wails-draggable: no-drag;
}
