@import "./../../../../packages/components/src/index.css";
@import "./font.css";

html,
html body {
    scrollbar-gutter: unset;
    -webkit-app-region: no-drag;
    --wails-draggable: no-drag;
}

body > * {
    --scrollbar-radius: 0;
}
