.search-page-grid-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "sidebar"
        "content";
}


@media (min-width: 64rem) {
    .search-page-grid-layout {
        grid-template-rows: 1fr;
        grid-template-columns: 19rem 1fr;
        grid-template-areas:
            "sidebar content"
    }
}

.filterCategory {
    @apply pb-3 border-b border-shallow-background;
}

.filterCategory:last-child {
    border: none;
    padding-bottom: 0;
}