.searchItemWrapperGrid {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content min-content;
    grid-template-areas:
            'icon title'
            'summary summary'
            'tags tags'
            'stats stats';
}


/* XS+ */
@media screen and  (min-width: 374px) {
    .searchItemWrapperGrid {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content 1fr min-content min-content;
        grid-template-areas:
                'icon title'
                'icon summary'
                'tags tags'
                'stats stats';
    }
}


/* MD+ */
@media screen and  (min-width: 767px) {
    .searchItemWrapperGrid {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content 1fr min-content min-content;
        grid-template-areas:
                'icon title'
                'icon summary'
                'icon tags'
                'stats stats';
    }
}

/* XL+ */
@media screen and  (min-width: 1279px) {
    .searchItemWrapperGrid {
        grid-template-columns: min-content 1fr auto;
        grid-template-rows: min-content 1fr auto;
        grid-template-areas:
                'icon title stats'
                'icon summary stats'
                'icon tags stats';
    }
}
