@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Dark Mode */
    --background-dark: #101113;
    --background-hover-dark: #252628;
    --regular-text-dark: white;
    --primary-accent-dark: #f43f5e;

    /* Light Mode */
    --background-light: #FCFDFF;
    --background-hover-light: #E5E7EB;
    --background-hover-deep-light: #C5C7CB;
    --regular-text-light: #020305;
    --primary-accent-light: #f43f5e;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    width: 0.4rem;
    border-radius: 1rem;
    background-color: var(--background-hover-deep-light);
}

::-webkit-scrollbar-track {
    width: 0.4rem;
    background-color: var(--background-light);
}


.dark ::-webkit-scrollbar-thumb {
    background-color: var(--background-hover-dark);
}

.dark ::-webkit-scrollbar-track {
    background-color: var(--background-dark);
}


html.dark {
    background-color: var(--background-dark);
    color: var(--regular-text-dark);
}

html.light {
    background-color: var(--background-light);
    color: var(--regular-text-light);
}

.dark [data-hide-on-theme='dark'],
.light [data-hide-on-theme='light'] {
    display: none;
}
.popBox{
    margin: 0;
    padding: 0.3rem;
    background-color:#2b2c30;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.popItem{
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    background-color: #3c3e44;
    color: white;
    columns: 2;

}
.popItemImage{
    height: 100px;
    width: 100pxx;
}
.popItemDesc{
    font-size: 0.8rem;
}
.popBoxContainer{
    columns: 4;
    padding: 5%;
}
a{
    color:#f43f5e ;
}