@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    background-color: #101113;
    color: white;
}

html.light {
    background-color: #FCFDFF;
    color: #020305;
}

.dark [data-hide-on-theme='dark'],
.light [data-hide-on-theme='light'] {
    display: none;
}