.project-page-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "sidebar";
}

.project-page-header {
    display: grid;
    grid-area: header;
}

@media (min-width: 64rem) {
    .project-page-layout {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 19rem 1fr;
        grid-template-areas:
            "header header"
            "sidebar content"
            "dummy content";
    }
}