.projectDetailsNavLinkText {
    @apply font-semibold text-foreground-muted hover:text-foreground/85 dark:hover:text-foreground/90;
}

.active .projectDetailsNavLinkText {
    @apply text-foreground dark:text-foreground;
}

.active .activityIndicator {
    width: 100%;
    height: 0.25rem;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(75%);
    @apply rounded-lg bg-accent-bg;
}

.dark .active .activityIndicator {
    height: 0.275rem;
}
