/* LOADING SPINNER */

.wandering_cubes_animation {
    --frame-size: 2.1rem;
    --cube-size: 0.5rem;
    --animation-duration: 1.8s;
}

.wandering_cube {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--cube-size);
    height: var(--cube-size);
    animation-name: wandering_cubes;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.wandering_cube.cube1 {
    animation-delay: 0;
}

.wandering_cube.cube2 {
    animation-delay: calc(-0.5 * var(--animation-duration));
}

@keyframes wandering_cubes {
    25% {
        transform: translatex(calc(var(--frame-size) - var(--cube-size))) rotate(-90deg) scale(.5);
    }

    50% {
        transform: translatex(calc(var(--frame-size) - var(--cube-size))) translatey(calc(var(--frame-size) - var(--cube-size))) rotate(-180deg);
    }

    75% {
        transform: translatex(0) translatey(calc(var(--frame-size) - var(--cube-size))) rotate(-270deg) scale(.5);
    }

    100% {
        transform: rotate(-360deg);
    }
}


[data-view-transition="theme-switch"]::view-transition-group(root) {
    animation-duration: .5s;
}

[data-view-transition="theme-switch"]::view-transition-new(root),
[data-view-transition="theme-switch"]::view-transition-old(root) {
    mix-blend-mode: normal;
}

[data-view-transition="theme-switch"]::view-transition-new(root) {
    animation-timing-function: ease-in;
    animation-name: reveal-theme;
}

[data-view-transition="theme-switch"]::view-transition-old(root),
.dark[data-view-transition="theme-switch"]::view-transition-old(root) {
    animation: none;
}


@keyframes reveal-theme {
    from {
        clip-path: circle(0 at var(--click-x, 81.8%) var(--click-y, 1.85rem));
    }

    to {
        clip-path: circle(135% at var(--click-x, 81.8%) var(--click-y, 1.85rem));
    }
}