.showcase_wrapper {
    --grid-size: 18rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
}

.showcase_item {
    grid-template-columns: 4rem calc(100% - 4rem);
}

.showcase_item .item_name {
    width: 100%;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showcase_item .item_description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media screen and (max-width: 1280px) {
    .showcase_item .item_name {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 640px) {
    .showcase {
        margin-bottom: 1rem;
    }

}


@media screen and (max-width: 320px) {
    .showcase_wrapper {
        --grid-size: 100%;
    }
}