@import "./page-styles.css";
@import "./user/styles.css";
@import "./search/styles.css";
@import "./project/styles.css";
@import "./organization/styles.css";
@import "./../components/ui/styles.css";
@import "./../../../../packages/components/src/misc/styles.css";
@import "./../../../../packages/components/src/ui/styles.css";
@import "./../../../../packages/components/src/md-editor/highlightjs.css";


@layer view-transitions {
    @view-transition {
        navigation: auto;
    }
}

::view-transition-group(root) {
    /* animation: none; */
    animation-duration: 200ms;
}

::view-transition-new(root),
::view-transition-old(root) {
    mix-blend-mode: normal;
}