.download-animation {
    --radius: 10rem;
    --duration: 0.3s;

    scale: 1;
    opacity: 1;
    transition: all 0.5s ease-out;
}

.download-animation .circle-1,
.download-animation .circle-2,
.download-animation .circle-3 {
    scale: 1;
    height: var(--radius);
    width: var(--radius);
    transition: all var(--duration) ease-out;
}

.download-animation.animation-hidden .circle-1 {
    scale: 1;
    --radius: 13rem;
}

.download-animation.animation-hidden .circle-2 {
    scale: 1;
    --radius: 25rem;
}

.download-animation.animation-hidden .circle-3 {
    scale: 1;
    --radius: 50rem;
}

.download-animation.animation-hidden {
    --duration: 0.25s;
    scale: 1.6;
    opacity: 0;
}
