.active .activityIndicator {
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 100%;
    height: 0.25rem;
    border-radius: 1rem;
    background-color: hsla(var(--accent-background));
}

.mobile_navmenu {
    display: grid;
    grid-template-rows: 0fr;
    transition-property: grid-template-rows;
    transition-timing-function: ease;
    overflow: hidden;
}

.menu_open {
    grid-template-rows: 1fr;
}


.navlink_list_wrapper {
    scrollbar-gutter: stable;
}

.ham_menu_icon {
    --translate-duration: 175ms;
    --rotate-duration: 225ms;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ham_menu_line_1,
.ham_menu_line_3 {
    transform-origin: 0% 0%;
    transform-box: content-box;
    transition: rotate var(--rotate-duration) ease-in-out, top var(--translate-duration) var(--rotate-duration) ease-in-out;
}

.ham_menu_line_2 {
    opacity: 1;
    transition: opacity 0ms var(--rotate-duration) ease-in-out;
}


.ham_menu_open .ham_menu_line_1,
.ham_menu_open .ham_menu_line_3 {
    transition: rotate var(--rotate-duration) var(--translate-duration) ease-in-out, top var(--translate-duration) ease-in-out;
}

.ham_menu_open .ham_menu_line_1 {
    top: 50%;
    rotate: 45deg;
}

.ham_menu_open .ham_menu_line_3 {
    top: 50%;
    rotate: -45deg;
}

.ham_menu_open .ham_menu_line_2 {
    opacity: 0;
    transition: opacity 0ms var(--translate-duration) ease;
}