@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --scrollbar-width: 0.6rem;
    --tint-hue: 210;
    --bg-saturation: 16%;
    --accent-color-hue: 345;

    /* LIGHT THEME */
    --body-background-light: var(--tint-hue), var(--bg-saturation), 92%;

    --background-light: var(--tint-hue), var(--bg-saturation), 99%;
    --accent-bg-light: var(--accent-color-hue), 77%, 50%;
    --accent-foreground-light: var(--accent-color-hue), 77%, 50%;
    --background-shallow-light: var(--tint-hue), var(--bg-saturation), 90%;
    --background-shallower-light: var(--tint-hue), var(--bg-saturation), 80%;
    --foreground-light: var(--tint-hue), var(--bg-saturation), 10%;
    --foreground-muted-light: var(--tint-hue), var(--bg-saturation), 35%;
    --foreground-extra-muted-light:var(--tint-hue), var(--bg-saturation), 47%;
    --bg-hover-light: var(--tint-hue), var(--bg-saturation), 92%;
    --danger-bg-light: 0, 72%, 51%;
    --danger-text-light: 0, 72%, 51%;
    --success-bg-light: 161, 94%, 30%;
    --success-text-light: 163, 94%, 24%;
    --shadow-light: var(--tint-hue), var(--bg-saturation), 90%;
    --border-light: var(--tint-hue), var(--bg-saturation), 84%;
    --border-hicontrast-light: var(--tint-hue), var(--bg-saturation), 65%;

    /* DARK THEME */
    --body-background-dark: var(--tint-hue), var(--bg-saturation), 5%;

    --background-dark: var(--tint-hue), var(--bg-saturation), 11%;
    --accent-bg-dark: var(--accent-color-hue), 85%, 62%;
    --accent-foreground-dark: var(--accent-color-hue), 95%, 72%;
    --background-shallow-dark: var(--tint-hue), var(--bg-saturation), 18%;
    --background-shallower-dark: var(--tint-hue), var(--bg-saturation), 30%;
    --foreground-dark: var(--tint-hue), var(--bg-saturation), 96%;
    --foreground-muted-dark: var(--tint-hue), var(--bg-saturation), 77%;
    --foreground-extra-muted-dark: var(--tint-hue), var(--bg-saturation), 63%;
    --bg-hover-dark: var(--tint-hue), var(--bg-saturation), 16%;
    --danger-bg-dark: 0, 95%, 65%;
    --danger-text-dark: 0, 91%, 71%;
    --success-bg-dark: 160, 84%, 39%;
    --success-text-dark: 158, 64%, 52%;
    --shadow-dark: var(--tint-hue), var(--bg-saturation), 4%;
    --border-dark: var(--tint-hue), var(--bg-saturation), 26%;
    --border-hicontrast-dark: var(--tint-hue), var(--bg-saturation), 46%;
}

.dark {
    --body-background: var(--body-background-dark);
    --accent-bg: var(--accent-bg-dark);
    --accent-foreground: var(--accent-foreground-dark);
    --background: var(--background-dark);
    --background-shallow: var(--background-shallow-dark);
    --background-shallower: var(--background-shallower-dark);
    --foreground: var(--foreground-dark);
    --foreground-muted: var(--foreground-muted-dark);
    --foreground-extra-muted: var(--foreground-extra-muted-dark);
    --bg-hover: var(--bg-hover-dark);
    --danger-bg: var(--danger-bg-dark);
    --danger-text: var(--danger-text-dark);
    --success-bg: var(--success-bg-dark);
    --success-text: var(--success-text-dark);
    --shadow: var(--shadow-dark);
    --border: var(--border-dark);
    --border-hicontrast: var(--border-hicontrast-dark);
}

.light {
    --body-background: var(--body-background-light);
    --accent-bg: var(--accent-bg-light);
    --accent-foreground: var(--accent-foreground-light);
    --background: var(--background-light);
    --background-shallow: var(--background-shallow-light);
    --background-shallower: var(--background-shallower-light);
    --foreground: var(--foreground-light);
    --foreground-muted: var(--foreground-muted-light);
    --foreground-extra-muted: var(--foreground-extra-muted-light);
    --bg-hover: var(--bg-hover-light);
    --danger-bg: var(--danger-bg-light);
    --danger-text: var(--danger-text-light);
    --success-bg: var(--success-bg-light);
    --success-text: var(--success-text-light);
    --shadow: var(--shadow-light);
    --border: var(--border-light);
    --border-hicontrast: var(--border-hicontrast-light);
}

html {
    scrollbar-gutter: stable;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    @apply rounded-lg;
}

body {

    --fallback-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light;
    font-family: "Inter", var(--fallback-fonts);
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    font-weight: 400;
    font-size: 1rem;
    background-color: hsla(var(--body-background));
}

.dark body {
    color-scheme: dark;
}

body.navmenu-open,
body.no-scrollbar {
    overflow: hidden;
}

body.subtract-scrollbar-width {
    width: calc(100% - var(--scrollbar-width));
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: 8px;
}

::-webkit-scrollbar-thumb {
    width: var(--scrollbar-width);
    border-radius: 1rem;
    background-color: #d4d4d8;
}

::-webkit-scrollbar-track {
    width: var(--scrollbar-width);
    background-color: white;
}


.dark ::-webkit-scrollbar-thumb {
    background-color: #27272a;
}

.dark ::-webkit-scrollbar-track {
    background-color: #09090b;
}

.input_box{
    @apply rounded-lg border-2 border-transparent bg-background-shallow disabled:cursor-not-allowed disabled:opacity-50 placeholder:text-foreground/60 transition-colors focus-within:bg-background-shallow/15 dark:focus-within:bg-background-shallow/15 focus-within:border-accent-bg;
}

/* Hero sectoin bg */

.hero_section_grid_bg {
    --line-width: 0.1rem;
    --bg-size: 2rem;
    --line-color: hsla(var(--body-background), 0.3);
    --transition-from-bg: var(--background);

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
    linear-gradient(var(--line-color) var(--line-width), transparent var(--line-width)),
    linear-gradient(to right, var(--line-color) var(--line-width), transparent var(--line-width)),
    hsla(var(--transition-from-bg));
    background-size: var(--bg-size) var(--bg-size);
    background-position: -0.7rem -0.7rem, -0.7rem -0.7rem, 0 0;
    background-attachment: absolute;
}

.dark .hero_section_grid_bg {
    --line-color: hsla(var(--background), 0.25);
    --transition-from-bg: var(--body-background);
}

/* Theme switcher styling */
.sun_icon_wrapper,
.moon_icon_wrapper {

    --animation-duration: 600ms;
    --sun-corona-animation-duration: 250ms;

    overflow: hidden;
    position: absolute;
    transform-origin: -2rem -1.5rem;
    transform-box: border-box;
}

.sun_icon_wrapper svg,
.moon_icon_wrapper svg {
    display: flex;
    align-items: center;
    justify-content: center;
}


.light [data-hide-on-theme='dark'],
.dark [data-hide-on-theme='light'] {

    scale: 0;
    opacity: 0;
    animation: fadeIn var(--animation-duration) forwards ease-in-out;
}


.dark [data-hide-on-theme='dark'] {
    animation: fadeOut var(--animation-duration) forwards ease-in-out;
}


.light [data-hide-on-theme='light'] {
    animation: fadeOut var(--animation-duration) var(--sun-corona-animation-duration) forwards ease-in-out;
}


#sun_corona {
    transform-origin: center;
    transform-box: fill-box;
}

.light #sun_corona {
    animation: fadeOutSunCorona var(--sun-corona-animation-duration) ease-in-out forwards;
}


.dark #sun_corona {
    opacity: 0;
    transform: scale(0);
    animation: fadeInSunCorona var(--sun-corona-animation-duration) ease-in-out var(--animation-duration) forwards;
}


@keyframes fadeOut {
    0% {
        scale: 1;
        opacity: 1;
    }

    50% {
        opacity: 0;
        rotate: 180deg;
    }

    100% {
        scale: 0;
        opacity: 0;
    }
}


@keyframes fadeIn {
    0% {
        scale: 0;
        opacity: 0;
        rotate: 180deg;
    }

    50% {
        opacity: 1;
    }

    100% {
        scale: 1;
        opacity: 1;
        rotate: 360deg;
    }
}

@keyframes fadeInSunCorona {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes fadeOutSunCorona {
    0% {
        scale: 1;
    }

    100% {
        scale: 0;
    }
}

.hero_section_showcase {
    --unit-height: 2.5rem;
    --showcase-animation-cycle-duration: 14s;
    animation: animateShowcaseItems var(--showcase-animation-cycle-duration) ease infinite;
}

.hero_section_showcase strong {
    animation: opacityFadeOut var(--showcase-animation-cycle-duration) calc((0.17 * var(--index) * var(--showcase-animation-cycle-duration)) + (0.03 * var(--showcase-animation-cycle-duration) * (var(--index) - 1))) ease infinite;
}


/*  Made for 6 showcase items currently
    % of time given to animate * (Number of total items - 1) +  %  of time each item stays in view * (Number of toal items - 1)  = 100 %
    CURRENTLY: 3% of the duration is given for animation  and each itemThe best place for your
    Cosmic Reach
     mods.
    Discover, play, and create content, all in one spot. stays 17% of total duration in view
*/

@keyframes animateShowcaseItems {

    0%,
    17% {
        transform: translateY(0);
    }

    20%,
    37% {
        transform: translateY(calc(var(--unit-height) * -1));
    }

    40%,
    57% {
        transform: translateY(calc(var(--unit-height) * -2));
    }

    60%,
    77% {
        transform: translateY(calc(var(--unit-height) * -3));
    }

    80%,
    97% {
        transform: translateY(calc(var(--unit-height) * -4));
    }

    100%,
    100% {
        transform: translateY(calc(var(--unit-height) * -5));
    }
}

@keyframes opacityFadeOut {

    0% {
        opacity: 1;
    }

    2%, 80% {
        opacity: 0;
    }

    82%, 100% {
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .hero_section_showcase {
        --unit-height: 3.5rem;
    }
}

.bg_stagger_animation {
    @apply transition-colors duration-300 group-hover:duration-0 hover:duration-0 group-hover:bg-bg-hover hover:bg-bg-hover;
}

.text_stagger_animation {
    @apply transition-colors duration-300 group-hover:duration-0 hover:duration-0 group-hover:text-foreground hover:text-foreground;
}
