
/* FOOTER */
.footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    gap: 2rem;
    grid-template-areas:
        "logo logo"
        "links-1 links-2"
        "links-3 dummy"
        "buttons buttons";
}

@media (min-width: 24rem) {
    .footer-grid {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo logo logo"
            "links-1 links-2 links-3"
            "buttons buttons buttons";
    }
}

@media (min-width: 64rem) {
    .footer-grid {
        grid-template-columns: repeat(5, auto);
        grid-template-rows: auto;
        grid-template-areas: "logo links-1 links-2 links-3 buttons buttons";
    }
}